.blog_stroke {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  font-weight: 600;
  min-width: 71px;
  min-height: 71px;
  border-radius: 50%;
  border: 1.5px solid rgba(37, 46, 61, 1);
  background: linear-gradient(
    182.29deg,
    rgba(37, 46, 61, 0.2) 1.92%,
    rgba(115, 115, 115, 0.02) 91.57%
  );
}
.second_blog_stroke {
  border: 1.5px solid rgba(238, 85, 44, 0.2);

  background: radial-gradient(
    78.9% 132.98% at 50% -2.13%,
    rgba(238, 85, 44, 0) 0.88%,
    rgba(238, 85, 44, 0.0438349) 65.03%,
    rgba(238, 85, 44, 0.5) 100%
  );
}

.hover_animate {
  transition: all 0.3s ease;  transition: all 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transform: perspective(1000px) translateZ(0);
}

.hover_animate:hover {
  transform: perspective(1000px) translateZ(20px);
  box-shadow: 0 10px 25px rgba(239, 86, 44, 0.2);
  filter: brightness(1.05);
}
