.header_styles {
  border: 1px solid rgba(190, 68, 35, 1);
  background-color: #20212369;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  position: fixed;
  width: 90% !important;
  border-radius: 30px;
  padding: 5px 10px;
  top: 15px;
  z-index: 10;
}
.navbar_cover {
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.12),
      rgba(255, 255, 255, 0.12)
    ),
    linear-gradient(0deg, rgba(37, 46, 61, 0.15), rgba(37, 46, 61, 0.15));
  border: 1px solid;
  border-image-source: linear-gradient(
    90deg,
    #be4423 0%,
    #938f99 49.52%,
    #8f331a 100%
  );
}
.navbar_bars {
  border: 1px solid white;
}

.navbar_bars:focus {
  outline: none;
  box-shadow: none;
}

.contact_us {
  border-radius: 20px;
  font-size: 16px;
  font-weight: 400;
  padding: 6px 24px;
}

@media (max-width: 1200px) {
  .header_styles {
    left: 50%;
    transform: translateX(-50%);
  }
}

@media (max-width: 992px) {
  .header_styles {
    left: 50%;
    transform: translateX(-50%);
  }
}

@media (max-width: 768px) {
  .header_styles {
    left: 50%;
    transform: translateX(-50%);
  }

  .navbar_bars {
    padding: 2px 7px;
    font-size: 17px;
  }

  .contact_us {
    font-size: 11px;
    padding: 3px 15px;
  }
}
