.testimonial {
  position: relative;
  border-radius: 12px;
  min-width: 1059px;
  height: 364px;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 15px;
  background-color: #252E3D63;
}

.testimonial::before {
  content: "";
  position: absolute;
  inset: 0;
  border: 1.5px solid transparent;
  border-radius: 10px;
  background: linear-gradient(
    179.56deg,
    #252e3d 10.64%,
    #adadad 52.87%,
    #252e3d 96.32%
  );
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask-composite: exclude;
  -webkit-mask-composite: destination-out;
  pointer-events: none;
}

.testimonial:hover {
  box-shadow: 0 8px 25px #ef562c4c; /* شادو برتقالي */
  transform: translateY(-4px); /* حركة خفيفة للأعلى */
}

.testimonial:hover::before {
  opacity: 0;
}

.testimonial:hover .p1 {
  color: #ef552c;
}

.testimonial:hover p {
  letter-spacing: 0.5px; /* تغيير بسيط في التباعد بين الحروف */
  transition: all 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.testimonial:hover .testimonialImg {
  transform: scale(1.01); /* تكبير الصورة عند الهوفر */
  transition: all 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  filter: brightness(1.2); /* زيادة السطوع عند الهوفر */
}